<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gateway Baptist Church | <%= userRoute %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./stylesheet/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheet/style.css">
    <link rel="icon" href="./images/images.ico" type="image/x-icon">
    <meta name="title" content="Gateway Baptist Church">
    <meta name="description"
        content="Welcome to Gateway Baptist Church! Join us for uplifting worship services, inspiring sermons, and a warm community. Discover our ministries, events, and ways to get involved. Everyone is welcome!">
    <meta property="og:title" content="Gateway Baptist Church.">
    <meta property="og:description"
        content="Welcome to Gateway Baptist Church! Join us for uplifting worship services, inspiring sermons, and a warm community. Discover our ministries, events, and ways to get involved. Everyone is welcome!">
    <meta property="og:image" content="./images/images.ico">
    <meta name="author" content="Areo Ayomide Philip">
</head>

<body>
    <!-- ========== Start Section of navigation bar========== -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="./index.html">
                <img src="./images/images.jpeg" alt="Gateway Baptist Church" width="40" height="40"
                    class="rounded-circle">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/events">Events</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            About Us
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                            <li><a class="dropdown-item" href="/history">Our
                                    History</a></li>
                            <li><a class="dropdown-item" href="/mission">Mission & Vision</a></li>
                            <li><a class="dropdown-item" href="/service">Services</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ministriesDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Ministries
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="ministriesDropdown">
                            <li><a class="dropdown-item" href="/children">Children's Ministry</a>
                            </li>
                            <li><a class="dropdown-item" href="/teenager">Teenagers Ministry</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/sermon">Sermons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/get-involved">Get
                            Involved</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/donate">Donate</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- ========== End Section of navigation bar ========== -->