<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gateway Baptist Church</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./stylesheet/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheet/style.css">
    <link rel="icon" href="./images/images.ico" type="image/x-icon">
    <meta name="title" content="Gateway Baptist Church">
    <meta name="description"
        content="Welcome to Gateway Baptist Church! Join us for uplifting worship services, inspiring sermons, and a warm community. Discover our ministries, events, and ways to get involved. Everyone is welcome!">
    <meta property="og:title" content="Gateway Baptist Church.">
    <meta property="og:description"
        content="Welcome to Gateway Baptist Church! Join us for uplifting worship services, inspiring sermons, and a warm community. Discover our ministries, events, and ways to get involved. Everyone is welcome!">
    <meta property="og:image" content="./images/images.ico">
    <meta name="author" content="Areo Ayomide Philip">
</head>