<%- include("partials/header.ejs") %>
    <!-- ========== Start  section of video banner ========== -->
    <div class="video-container">
        <video autoplay muted loop>
            <source src="./video/video-banner/mission-video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="video-overlay">
            <div>
                <h1 class="display-4"><strong>
                        <%= mission.videoBanner.headingDisplay %>
                    </strong></h1>
                <p class="lead">
                    <%= mission.videoBanner.headingDisplay %>
                </p>
            </div>
        </div>
    </div>

    <!-- ========== End  section of video banner ========== -->
    <div class="container-fluid pt-5 pb-5">
        <h2 class="display-6" style="text-align: center;" id="topHeading">Our Purpose Statement | Our Mission and Vision
            as a Church.</h2>
        <div class="container-fluid">
            <ol>
                <li>
                    <p><strong>The Gateway Baptist Church (Community of Grace) exists to fulfill the Great Commandment
                            and the great Commission.</strong></p>
                </li>
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p>"Love the Lord your God with all your heart and with your soul and with all your mind... Love
                            your neighbour as yourself. All the law Prophets hang on these two commandement..."</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        <cite title="Source Title"><strong>Matthew 22:37-40</strong></cite>
                    </figcaption>
                </figure>
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p>"Go and make disciples of all nation baptizing them in the name of the Father and the Son and
                            the Holy Spirit, and teaching them to obey everything i have commanded you."</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        <cite title="Source Title"><strong>Matthew 28:9-20</strong></cite>
                    </figcaption>
                </figure>
                <p>The following is then Our Mission Statement:</p>
                <p>To bring people to jesus and membership in his family.</p>
                <p>To develop them to Christ like maturity.</p>
                <p>To equip them for ministry in the church and for life mission in the world, and to magnify Gods name
                    as a result.</p>
                <li>
                    <p><strong>To organize and maintain the following programmes and departments.</strong></p>
                </li>
                <ol type="A">
                    <li>
                        <p>Sunday School;</p>
                    </li>
                    <li>
                        <p>Church Traning Programme;</p>
                    </li>
                    <li>
                        <p>Women Missionary Union;</p>
                    </li>
                    <li>
                        <p>Men Missionary Union;</p>
                    </li>
                    <li>
                        <p>House Fellowship / Cell Groups;</p>
                    </li>
                    <li>
                        <p>And any other programmes and departments as may be approved by the Nigerian Baptist
                            Convention.</p>
                    </li>
                </ol>
                <li>
                    <p><strong>To encourage group activities for enhancing the growth of the church.</strong></p>
                </li>
                <li>
                    <p><strong>To establish and maintain School(s) where children shall be educated under Christian
                            influence.</strong></p>
                </li>
                <li>
                    <p><strong>To co-operate with the (Emmanuel) Baptist Association, Ibadan Baptist Conference, and the
                            Nigeria Baptist Convention in carrying out their aims and objectives as setout in their
                            respective constitution and bye-laws. </strong></p>
                </li>
                <li>
                    <p><strong>To carry out the financial duties laid down in the "Accounting Regulations and procedure"
                            as may be formulated for the church.</strong></p>
                </li>
                <li>
                    <p><strong>To worship God in Spirit and truth.</strong></p>
                </li>
                <li>
                    <p><strong>To observe the ordinances of Baptism by immersion and the Lord's supper.</strong></p>
                </li>
                <li>
                    <p><strong>To obeserve all other functions as laid down by the Nigerian Baptist Convention.</strong>
                    </p>
                </li>
                <li>
                    <p><strong>To do all such other lawful things as are incidental or conducive to the attainment of
                            the above objects.</strong></p>
                </li>
            </ol>
        </div>
    </div>
    <div class="p-5 bg-body-tertiary d-flex flex-column align-items-center">
        <div class="mb-5">
            <h1 class="display-6 text-center">Download To access our church Mission, aims and goal Everytime.</h1>
        </div>
        <div class="card text-center" style="width: 18rem;">
            <img src="./images/missinpdfpic.jpg"
                style="width: 100%; height: 350px; object-fit: cover; object-position: center -1px;"
                class="card-img-top" alt="History Of Gateway Baptist Church">
            <div class="card-body">
                <h5 class="card-title">Mission, aims and goal of Gateway Baptist Church</h5>
                <p class="card-text">If you want to be able to access the Mission, aims and goal of our church on your
                    phone at anytime you can down load the church PDF, to get it at your comfort.</p>
                <a href="./resources/gatwaybaptistaimsandgoals.pdf" target="_blank" rel="noopener noreferrer"
                    class="btn btn-primary">Download Now</a>
            </div>
            <div class="card-footer text-body-secondary">
                2 days ago
            </div>
        </div>
    </div>
    <!-- ========= --->
    <!-- ========== Start Section of the footer ========== -->
    <%- include("partials/footer.ejs") %>